@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'overlay.css';
@import 'modal.css';
@import 'textarea-expander.css';
@import 'stripe.css';
@import '@selectize/selectize/dist/css/selectize.css';
@import 'magnific-popup/dist/magnific-popup.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-shadow {
        text-shadow: 1px 1px 2px grey;
    }

    .text-shadow-md {
        text-shadow: 2px 2px 4px black;
    }

    .text-shadow-lg {
        text-shadow: 8px 8px 15px black;
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    [type='select-one'],
    textarea,
    select {
        @apply my-3 border border-gray-300 ring-sky-600 rounded-md px-4 py-2 bg-white bg-gradient-to-t from-gray-100 via-gray-200 to-gray-100;
    }
    [type='number'],
    select {
        @apply w-full m-0 p-0 px-2 py-1 text-xs
    }
}

@layer components {

    input::placeholder {
        color: #CFD7E0; /* Replace with your desired color */
    }

    .parameter-container {
        @apply text-xs rounded p-2 border-sky-300;
    }

    .btn {
        @apply  m-1 text-gray-500 drop-shadow-md text-shadow active:drop-shadow hover:drop-shadow-lg rounded-xl
    }

    .btn-primary {
      @apply text-xs w-28 px-1 py-2 m-1
        hover:bg-coquelicot hover:text-white
        text-gray-900 bg-slate-300 hover:bg-slate-500 active:bg-slate-600
        border border-gray-400
        drop-shadow-md hover:drop-shadow-lg rounded-xl;
    }

    /* cards */
    .card {
        @apply relative border border-gray-700 rounded-md drop-shadow-sm pt-4 pb-3 bg-white mt-5 drop-shadow-lg;
    }

    .card .card-header {
        @apply absolute -top-4 left-3 w-fit bg-gray-700 text-white rounded-md px-4 py-1;
    }

    .card .card-body {
        @apply mt-4 px-3;
    }

    .card .card-footer {
        @apply px-3 border-t border-gray-700 mt-4 pt-2;
    }

    .card .footer-right{
        @apply  flex content-end flex-row-reverse;
    }

    .icon-button {
        @apply text-xs mx-1 p-1
        ring-indigo-400
        border-gray-600
        hover:bg-indigo-50 hover:text-indigo-500
        rounded-sm
        bg-gradient-to-tl from-indigo-50 to-indigo-100
        text-center
        flex-auto items-center justify-center
        cursor-pointer;
    }


    .alert {
        @apply my-auto pl-[70px] pr-3 text-[12px]
        bg-green-200 rounded-xl h-5;
        position: relative;
        display: inline-flex;
        align-items: center;
        border-radius: 9999px;
    }

    .alert-notice {
        @apply bg-orange-200;
        display: none;
        overflow: hidden;
    }

    .alert-notice::before {
        @apply text-gray-200 text-[12px] bg-orange-600 rounded-xl px-4 py-2 mr-2
        left-0 top-0;
        content: 'Notice';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 100%;
        z-index: 2; /* set z-index to display below alert message box */
    }

    .alert-success {
        @apply bg-green-300;
        display: none;
        overflow: hidden;
    }

    .alert-success::before {
        @apply text-gray-200 text-[12px] bg-green-600 rounded-xl px-4 py-2 mr-2;
        content: 'Success';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 100%;
        z-index: 2; /* set z-index to display below alert message box */
    }

    .alert-error {
        @apply bg-red-300;
        display: none;
        overflow: hidden;
    }
    .alert-error::before {
        @apply text-gray-300 text-[12px] bg-red-600 rounded-xl px-4 py-2 mr-2;
        content: 'Error';
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 100%;
        z-index: 2; /* set z-index to display below alert message box */
    }


    .viewData {
        display: block;
        grid-template-columns: 1fr;
    }

    .viewData .viewItem {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .viewData .viewItem .label {
        margin-right: 10px;
    }

    .viewData .viewItem .label::after {
        @apply content-[':'];
    }

    .viewData .viewItem .data {
        font-weight: bold;
    }
}
.selectize-control {
    @apply ring-sky-600 rounded-lg bg-white bg-gradient-to-t from-gray-100 via-gray-200 to-gray-100;
    overflow: hidden;
}

.selectize-input {
    @apply bg-white bg-gradient-to-t from-gray-100 via-gray-200 to-gray-100;
    border: 0;
}

.selectize-dropdown .active:not(.selected) {
    background: #bdced9;
    color: #495c68;
}

/* Dark mode styles */
.selectize-dropdown-content .create.active{
    color: white;
}
.selectize-dropdown-content .create.active strong{
   @apply text-gray-700;
}
.selectize-input .remove {
    color: black;
    background-color: transparent;
    color: indianred;
    font-size: 20px;
    padding-left: 5px;
}

.selectize-control.multi .selectize-input>div {
    @apply rounded-full shadow-lg text-gray-700;
    cursor: pointer;
    padding-left: 12px;
    background: #b4b4b4;
    border: 0;
}
